.cover {
	position: relative;
	color: $color-white;

	&::after {
		content: '';
		position: absolute;
		z-index: -1;
		top: 0;
		bottom: 0;
		right: 0;
		left: 0;
		background-color: rgba($color-black, 0.5);
	}

	&__container {
		max-width: 56rem;
		margin: 0;

		@include respond(phone) {
			max-width: 40rem;
		}

		@media (max-width: 28.125em) {
			max-width: 30rem;
		}
	}
}
