html,
body {
	height: 100%;
}

.wrapper {
	height: 100%;
	display: flex;
	flex-direction: column;
}

.page {
	flex-grow: 1;
}

[class*='__container'] {
	width: calc(100% - 1.5rem * 2);
	margin: 0px auto;
	padding: 0 1.5rem;
}
