html {
	@include respond(big-desktop) {
		font-size: 75%;
	}
	font-size: 62.5%; // define what 1rem is
	@include respond(tab-port) {
		font-size: 60%;
	}
	@include respond(phone) {
		font-size: 52%;
	}
}

body {
	font-size: $default-fz;
	font-weight: 400;
	font-family: 'Roboto', sans-serif;
}

.title {
	font-weight: 500;
	font-size: 4rem;
	line-height: 1.2;

	@include respond(tab-port) {
		font-size: 2.5rem;
	}
	@include respond(phone) {
		max-width: 30rem;
	}
}

.text {
	line-height: 1.5;
	font-size: 1.8rem;
	letter-spacing: 2px;

	@include respond(tab-port) {
		font-size: 1.6rem;
	}
	@include respond(phone) {
		max-width: 30rem;
	}
}
